body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    
}

.backgroundPic {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('./../../../static/IMG_0323.jpg');
    background-size: cover;
    opacity: 0.6;
    z-index: -1;
}
.backgroundPic .water {
    position: absolute;
    opacity: 0.6;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('./../../../static/IMG_0323.jpg');
    background-size: cover;
    filter: url("#turbulance");
}
